<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>About Roy Williams</title>

    <meta name="author" content="Your name here">
    <meta name="description" content="A little bit about Roy Williams">
    <meta name="keywords" content="about roy, roy williams, unc basketball">

    <link rel="stylesheet" type="text/css" href="style.css">

  </head>
  <body>

    <header>
      <h1>About Roy Williams</h1>
      <h2>Get to know a little bit about Roy</h2>
    </header>

    <section class="bio">
      <section class="bio-copy">
          <p>Roy Allen Williams (born August 1, 1950) is an American college basketball coach for the <a href="https://en.wikipedia.org/wiki/University_of_North_Carolina_at_Chapel_Hill" target="_blank">North Carolina Tar Heels</a>. He started his college coaching career at North Carolina as an assistant coach for Dean Smith in 1978. In 1988, Williams became the head coach of the men's basketball team at Kansas, taking them to fourteen consecutive NCAA tournaments, collecting a .805 win percentage and winning nine conference titles over his fifteen-year span.</p>

          <p>In 2003, Williams left Kansas to return to his alma mater North Carolina, replacing Matt Doherty as head coach of the Tar Heels. Since returning to North Carolina, Williams has won three <a href="https://en.wikipedia.org/wiki/NCAA_Division_I_Men%27s_Basketball_Tournament" target="_blank">national championships</a>, eight Atlantic Coast Conference conference titles, one AP National Coach of the Year award, and two ACC Coach of the Year awards. He is second all-time for most wins at both Kansas (behind Phog Allen) and North Carolina (behind mentor Dean Smith).</p>

          <p>Williams is currently ranked seventh in total victories by a men's NCAA Division I college coach, winning 816 games to date. Williams has taken his teams to nine Final Fours in his careers at Kansas and North Carolina. He is the only coach in NCAA history to have led two different programs to at least four Final Fours each and the only basketball coach in NCAA history to have 350 or more victories at two NCAA Division 1 schools. He is also tenth all-time in the NCAA for winning percentage among men's college basketball coaches.</p>

          <p>As a head coach, Williams has coached in a total of six NCAA championship games (1991, 2003, 2005, 2009, 2016, and 2017). On April 4, 2005, Williams won his first national title as his Tar Heels defeated the University of Illinois in the 2005 NCAA championship game. He again led the Tar Heels to a national title on April 6, 2009, against the Michigan State Spartans (see 2009 NCAA championship game). Williams won his third national championship on April 3, 2017 when he led the Tar Heels to victory against the Gonzaga Bulldogs. Williams is one of six NCAA Men's Division I college basketball coaches to have won at least three national championships.</p>

          <p>In 2006, Williams was inducted into the College Basketball Hall of Fame. The following year, in 2007, Williams was inducted into the <a href="https://en.wikipedia.org/wiki/Basketball_Hall_of_Fame" target="_blank">Basketball Hall of Fame</a>.</p>
      </section>

      <section class="bio-image">
        <img src="roy.jpg" alt="image of roy williams" />
      </section>

    </section> <!-- / .bio -->

    <footer>
      <p>Source: <a href="https://en.wikipedia.org/wiki/Roy_Williams_(coach)" target="_blank">Wikipedia</a>
    </footer>

  </body>
</html>
